<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>term</key>
		<string>France</string>
		<key>match</key>
		<string>Paris</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>Japan</string>
		<key>match</key>
		<string>Tokyo</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>Italy</string>
		<key>match</key>
		<string>Rome</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>Germany</string>
		<key>match</key>
		<string>Berlin</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>Canada</string>
		<key>match</key>
		<string>Ottawa</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>Brazil</string>
		<key>match</key>
		<string>Brasília</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>Australia</string>
		<key>match</key>
		<string>Canberra</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>term</key>
		<string>India</string>
		<key>match</key>
		<string>New Delhi</string>
		<key>category</key>
		<string>Geography</string>
		<key>difficulty</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
